{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5">Welcome to Warframe-Builder, but as you can see, I'm still at work. See ya !</h1>
    </div>
{% endblock %}
