{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Admin{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center mb-5">
            <h1 class="col-10 col-sm-6 bg-dark text-primary text-center p-2 m-3 rounded-pill fw-bold fs-3">Add Warframe's</h1>
        </div>
        <div class="row justify-content-center">
            test
        </div>
        <div class="d-flex justify-content-center mb-5">
            <h1 class="col-10 col-sm-6 bg-dark text-primary text-center p-2 m-3 rounded-pill fw-bold fs-3">Add weapon's</h1>
        </div>
        <div class="row justify-content-center">
            test
        </div>
    </div>
{% endblock %}
