<nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
    <div class="container">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-between">
                <div class="nav-item d-flex align-items-center">
                    <img src="{{ asset('build/images/warframelogo.png') }}" alt="Logo warframe" width="90">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </div>
                <div class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="#">Builder</a>
                </div>
                <div class="nav-item d-flex align-items-center">
                    <a class="nav-link" href="#">Login</a>
                </div>
            </ul>

    </div>
</nav>